:host .docxFormLayout{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "fieldReviewReports empty1"
    "commonElementNumber empty2"
    "fileNumber projectName"
    "date builder"
    "projectAddress weatherCondition"
    "location inspectionCategory"
    "referenceDwgs empty3"
    "datesVisited empty4"
    "inspectionNotes empty5"
    "fileUploads empty6";
    padding-left: 10px;
}

:host .datesVisited {
    grid-area: datesVisited;
}

:host .inspectionNotes {
    grid-area: inspectionNotes;
    /* display: block; */
}

/* :host .inspectionNotes > *{
    display:block;
} */

:host .referenceDwgs {
    grid-area: referenceDwgs;
}
:host .inspectionCategory {
    grid-area: inspectionCategory;
}

:host .location {
    grid-area: location;
}
:host .projectAddress {
    grid-area: projectAddress;
}

:host .weatherCondition {
    grid-area: weatherCondition;
}

:host .fieldReviewReports {
    grid-area: fieldReviewReports;
}

:host .commonElementNumber {
    grid-area: commonElementNumber;
}
:host .fileNumber{
    grid-area: fileNumber;
}

:host .projectName {
    grid-area: projectName;
}

:host .date {
    grid-area: date;
}

:host .bulder {
    grid-area: builder;
}

:host .empty5 {
    grid-area: empty5;
}

:host .fileUploads {
    grid-area: fileUploads;
}